/* OH MY DISNEY */
body {
	background-color: #FFF;
	color: #333;
	font-family: 'FuturaStd-Medium';
}

#tab-galeria .tab-banner {
	margin-bottom: 50px;
}

#omdCarousel .carousel-inner .item img {
	margin: auto;
}

a {
	font-family: 'FuturaStd-Medium', sans-serif;
} 


#page-content {
	margin-top: 50px;
}

.navbar-header, .navbar-inverse, .navbar, .navbar-inverse,
	.navbar-fixed-top {
	background: rgb(249, 249, 249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%,
		rgba(227, 227, 227, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249,
		249, 249, 1)), color-stop(100%, rgba(227, 227, 227, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%,
		rgba(227, 227, 227, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%,
		rgba(227, 227, 227, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%,
		rgba(227, 227, 227, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%,
		rgba(227, 227, 227, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9',
		endColorstr='#e3e3e3', GradientType=0); /* IE6-9 */
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
	width: 100% !important;
}

.navbar-toggle {
	position: relative;
	float: left !important;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #757575;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000 !important;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 25px;
	height: 3px;
	border-radius: 1px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
	{
	background-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
	border-color: none;
}

.navbar {
	margin-bottom: 0 !important;
}

button.prev, button.next {
	display: none;
}

.tab-menu-active a {
	color: #F00000 !important;
}

.navbar-nav {
	margin: 0px -15px !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	text-shadow: none !important;
}

.nav>li {
	background-color: #fff;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
	font-size: 1.2em;
	font-family: 'FuturaStd-Bold';
	text-transform: uppercase;
}

.tab-menu-switcher {
	/*background-color:#4B4949;*/
	/*border-bottom: 1px solid #DFDCDC;*/
	
}

.tab-menu-switcher a {
	color: #4B4949;
}

.tab-menu-switcher a:hover {
	color: #000 !important;
}

.tab-menu-active a:active {
	color: #F00000 !important;
}

.navbar-toggle {
	margin-right: 0px;
}

.tab-channel-elem {
	background-color: #F3F3F3;
	margin: 10px;
	padding: 10px;
}

.tab-banner img, .article-thumbnail img, .article-thumbnail img,
	.imgContent img {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	margin: 15px auto !important;
}

/*////////////////////////////////////////// DESTACADOS ///////////////////////////////////////////*/
#the-news h2 {
	font-family: 'FuturaStd-Bold';
	font-size: 1.5em;
	color: #FFFFFF;
	background-color: #e11937;
	padding: 10px;
	margin-bottom: -10px;
	margin-bottom: -10px;
	margin-top: -.0000001em;
	padding-top: 15px;
}

.news-text {
	padding: 8px;
	background-color: #F3F3F3;
}

.article-thumbnail {
	text-align: center;
	overflow: hidden;
}

.article-title {
	font-family: 'FuturaStd-Medium';
	font-size: 1.2em;
	color: #f00000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.article-text {
	line-height: 1.2;
	font-size: 1.1em;
	color: #757575;
	font-weight: 400;
	margin-bottom: 5px;
}

.panel-news {
	background-color: #F3F3F3;
	padding: 10px;
}

#article-detail-title {
	font-family: 'FuturaStd-Medium';
	font-weight: 700;
	color: #F00000;
}

#aricle-news-title, #article-detail-news-title {
	font-family: 'FuturaStd-Medium';
	font-weight: 700;
	color: #757575;
}

.article-paragraph, .title-img, .paragraph-img, .article-text {
	font-family: 'FuturaStd-Medium';
	font-weight: 400;
}

.article-paragraph {
	line-height: 1.2;
	font-size: 1.1em;
}

.paragraph-img {
	color: #757575;
	line-height: 1.3;
	font-size: 1em;
	margin-top: 5px;
	border-bottom: 1px solid #FFF;
	padding-bottom: 5px;
}

.imgContent img {
	margin-bottom: 10px;
}

#article-detail-paragraph-1, #article-detail-paragraph-2,
	#article-detail-paragraph-3 {
	font-weight: 300;
}

.botonera {
	width: 120px;
	text-align: center;
	margin: 15px auto;
}

.botonera-tabs {
	width: 100px;
}

.prev {
	background-image: url(../img/btn_prev.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	border: none;
	background-color: transparent;
}

.prev:active {
	background-image: url(../img/btn_prev_press.png);
}

.top {
	background-image: url(../img/btn_top.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	padding: 10px;
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	background-color: transparent;
}

.top:active {
	background-image: url(../img/btn_top_press.png);
}

.next {
	background-image: url(../img/btn_next.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: right;
	border: none;
	background-color: transparent;
}

.next:active {
	background-image: url(../img/btn_next_press.png);
}

.footer {
	width: 100%;
	background-color: #F3F3F3;
	/*height: 50px;*/
	margin-top: 15px;
	padding-top: 15px;
}

.logo-footer {
	background-image: url(../img/logo-footer.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	width: 66px;
	height: 28px;
	margin: auto;
}

#instagram, #blog, #videos {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	float: left;
	margin-top: -2px;
}

#instagram {
	background-image: url(../img/icon_clasicos.png);
}

#blog {
	background-image: url(../img/icon_ild.png);
}

#videos {
	background-image: url(../img/icon_videos.png);
}

.img-responsive {
	margin: auto;
	width: 100%;
}

.play {
	background-image: url(../img/play.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 65%;
	cursor: pointer;
}

/*////////////////////////////////////////// ESTRELLAS ///////////////////////////////////////////*/
#stars-rating {
	padding: 5px;
	background-color: #F3F3F3;
	margin-top: 5px;
	position: relative;
	height: 40px;
}

#stars-rating .c-rating {
	width: 120px;
	position: absolute;
	right: 10px;
	top: 8px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
h4.recomended {
	font-family: 'FuturaStd-Medium';
	color: #f0141e !important;
	font-weight: 600;
}

/*////////////////////////////// SCROLLING RECOMENDADOS //////////////////////////////////*/
.article-loader-suggested {
	cursor: pointer;
	background-color: #F3F3F3;
	margin-bottom: 15px;
}

.video-disney-title {
	font-family: 'FuturaStd-Medium';
	text-transform: uppercase;
	color: #f0141e;
	font-size: 14px;
	padding-top: 10px;
	line-height: 1.2;
}

.no-left {
	padding-left: 0px !important;
}

.text-fix-height {
	height: 65px;
	overflow-y: scroll;
}

.no-padd {
	padding: 0px !important;
}

.fix-height {
	height: 75px !important;
}
/*/////////////////////////////////////////////////////////////////////////////////////*/
.insta-teaser {
	margin: 20px auto;
	height: 350px !important;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

@media ( max-width : 240px) {
	.botonera {
		width: 100px;
		text-align: center;
		margin: 15px auto;
	}
	.top {
		margin-right: 5px;
		margin-left: 5px;
	}
}

@media ( min-width : 320px) and (max-width: 359px) {
	.insta-teaser {
		height: 200px !important;
	}
}

@media ( min-width : 414px) and (max-width: 736px) {
	.play {
		height: 40%;
	}
	.insta-teaser {
		height: 450px !important;
	}
}

@media ( min-width : 320px) and (max-width: 767px) {
	.navbar-brand-logo {
		background-image: url(../img/header-brand.png);
		background-repeat: no-repeat;
		width: 100% !important;
		height: 40px;
		background-position: center;
		position: absolute;
		top: 5px;
	}
	#fashion-detail-media {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 15px;
	}
}

@media ( min-width : 768px) {
	.navbar-brand-logo {
		background-image: url(../img/header-brand.png);
		background-repeat: no-repeat;
		width: 160px !important;
		height: 40px;
		background-position: center;
		position: absolute;
		top: 5px;
		right: 20px;
	}
	.container {
		width: 100% !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	active.navbar-nav {
		position: absolute;
		top: 0;
		left: 20px;
	}
	.navbar-nav {
		position: absolute;
		top: 0;
		left: 20px;
	}
	.navbar-header {
		float: none !important;
	}
	.navbar-nav>li {
		background: transparent;
	}
	.tab-menu-switcher {
		border: none;
	}
	.tab-menu-active a {
		color: #F00000 !important;
	}
	.tab-menu-switcher a:hover {
		color: #ff0000 !important;
	}
	.tab-menu-switcher a:active {
		color: #F00000 !important;
	}
	#fashion-detail-media {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	.insta-teaser {
		height: 600px !important;
	}
}

ul.list_footer {
	padding: 0;
	text-align: center;
}

ul.list_footer li {
	display: inline;
	list-style: none;
}

ul.list_footer li a {
	text-decoration: none;
	color: #090909;
}

ul.list_footer li a span::after {
	content: " ";
}

ul.list_footer li {
	color: #fff;
}

iframe#quiz-frame {
	width: 100%;
	height: 700px;
	border: 0px;
}